.all-posts-check {

}
.post-excludes-wrap {
	margin-top: 10px;
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.post-excludes-wrap label {
	font-size: .8em;
	font-weight: bold;
}
.post-excludes-wrap input {
	display: block;
	width: 100%;
}

.ui-datepicker {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	box-shadow: 0 0 8px #ccc;
}
.ui-datepicker-header {
	background-color: #fff;
	padding: 5px;
	position: relative;
}

.ui-datepicker-header .ui-datepicker-title {
	font-weight: bold;
	text-align: center;
}

.ui-datepicker-header .ui-corner-all {
	position: absolute;
	top: 5px;
}

.ui-datepicker-header .ui-corner-all .ui-icon {
	cursor: pointer;
}

.ui-datepicker-header .ui-corner-all.ui-datepicker-prev {
	left: 0;
}

.ui-datepicker-header .ui-corner-all.ui-datepicker-next {
	right: 0;
}

.ui-datepicker-calendar {
	background-color: #fff;
	padding: 5px;
	border: 1px dotted #ddd;
}

.ui-datepicker-calendar td {
	border: 1px dotted #eee;
	text-align: center;
	padding: 2px 5px;
}

.ui-datepicker-calendar a {
	font-weight: bold;
	text-decoration: none;
}

a.img-delete {
	display: block;
	width: 29px;
	height: 28px;
	background: url('../images/close_button.png') no-repeat;
	position: relative;
	top: 16px;
	left: -14px;
	text-indent: -9999px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: .75;
	-moz-transition: opacity .1s linear;
	-webkit-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
}
a.img-delete:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

span.field-desc {
	font-size: 11px;
	display: block;
	margin-top: 10px;
}

span.background-ad-disclaimer {
	display: block;
	font-size: .8em;
	font-style: italic;
}