/* main ad styles */
.js .ads img {
	display: none;
}

.ads {
	position: relative;
	height: 0;
	overflow: hidden;
}

.ad {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.ad img {
	margin-bottom: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
}

/* Ad Options Styles */
.ads.background-takeover-ad {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1200px;
/*	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	background-attachment: fixed;
*/
}

.background-takeover-ad a {
	cursor: pointer;
	display: inline;
}

.js .fishtank-wrap {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 2s;
	transition: all 2s;
}

.js .fishtank-wrap.fishtank-open {
	max-height: 999px;
}
